div.parent{
    width: fit-content;
    background-color: rgb(0, 20, 20);
    position: relative;
    margin: 50% 50% 0% 50% ;
    transform: translate(-50%,-50%);
}
div.parent div.container{
    width: 100%;
    background-color: rgb(100, 200, 240);
    display: flex;
    flex-direction: column;
    row-gap: 10px;
  width: 450px; 

}
select{
    height:39px ;
    font-size: 35px;
}
div.parent div.container input.n{  
height: 50px;
font-size: 43px;
}
button{
    width: 112px;
    height: 65px;
    font-size: 38px;
    background-color: aqua;
    margin-bottom: 10px;
}
div.div{
    color: red;
    font-size: 49px;
}
@media (max-width:400px){
    button{
        font-size: 25px;
        width: 90px;
        height: 40px;
    }
    div.parent div.container{
        width: 100px;
    }
    div.parent div.container input.n{  
        height: 30px;
        font-size: 20px;
        }
        select{
            height:25px ;
            font-size: 19px;
        }
        div.div{
            font-size: 30px;
        }
}
@media (min-width:401px ) and (max-width:600px){
    button{
        font-size: 28px;
        width: 96px;
        height: 50px;
    }
    div.parent div.container{
        width: 200px;
    }
    div.parent div.container input.n{
        font-size: 28px;
        height:36px ;
    }
    select{
        height:28px ;
        font-size: 23px;
    }
    div.div{
        font-size: 36px;
    }
}
@media (min-width:601px ) and (max-width:800px){
    button{
        font-size: 32px;
        width: 102px;
        height: 55px;
    }
    div.parent div.container{
        width: 300px;
    }
    div.parent div.container input.n{
        font-size: 35px;
        height: 42px;
    }
    select{
        height:32px ;
        font-size: 27px;
    }
    div.div{
        font-size: 41px;
    }
}
@media (min-width:801px ) and (max-width:1000px){
    button{
        width: 108px;
        font-size: 35px;
        height: 60px;
    }
    div.parent div.container{
        width: 400px;
    }
    div.parent div.container input.n{
        font-size: 40px;
        height: 48px;
    }
    select{
        height:35px ;
        font-size: 31px;
    }
    div.div{
        font-size: 46px;
    }
}